<mat-toolbar>
  <span>Forum Application</span>
  <a routerLink="/forum" routerLinkActive="active" matButton>
    <mat-icon>forum</mat-icon>Forum
  </a>
  <a routerLink="/create-post" routerLinkActive="active" matButton>
    <mat-icon>add</mat-icon>Create Post
  </a>
  <span class="spacer"></span>
  @let user = loggedUser(); 
  @if(user) {
    <span>{{user}}</span>
    <button matButton (click)="logout()">
      <mat-icon>logout</mat-icon>Logout
    </button>
  } @else { 
    <!-- <a routerLink="/login" routerLinkActive="active" matButton>
      <mat-icon>login</mat-icon>Login
    </a> -->
  }
</mat-toolbar>